
:root {
    --font-primary: 'Bricolage Grotesque', sans-serif;
}

.font-primary {
    font-family: var(--font-primary);
}
@font-face {
    font-family: 'LTMuseum';
    src: url('./assets/font/LTMuseum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --font-primary: 'LTMuseum', sans-serif;
    --font-secondary: 'Bricolage Grotesque', sans-serif;

    
}

.font-secondary {
    font-family: var(--font-secondary);
}

@theme {
    --color-primary: #273F3A;
    --color-secondary: #F5B52F;
}